@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  @font-face {
    font-family: 'Gordita';
    src: url('/font/Gordita-Regular.otf'),
         url('/font/Gordita-Medium.otf') format('500'),
         url('/font/Gordita-Light.otf') format('300'),
         url('/font/Gordita-Bold.otf') format('700'),
         url('/font/Gordita-Black.otf') format('900'),
  }

  body {
    background-color: #f8fafc;
    font-family: 'Gordita', sans-serif !important;
  }

}

@layer utilities {

  .bg-gradient {
      background: var(--Text-Style, linear-gradient(90deg, #885CF6 1.73%, rgba(126, 243, 229, 0.97) 101.49%));
  }

  .ring-gradient {
    --tw-ring-opacity: 1;
    --tw-ring-color: var(--Text-Style, linear-gradient(90deg, #885CF6 1.73%, rgba(126, 243, 229, 0.97) 101.49%));
  }

  .text-gradient {
      background: linear-gradient(90deg, #8B5CF6 53.09%, rgba(55, 255, 219, 0.70) 81.88%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-style: normal;
  }

  .input-focus-none {
      box-shadow: none;
      outline: 0;
  }

}